
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat&family=Roboto:wght@300&display=swap');

:root{
    /* for the result section */
    --slate-blue: hsl(252, 100%, 67%);
    --royal-blue: hsl(241, 81%, 54%);

    /* for the circle in the same section */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* same section - font colors */
    --transWhite: hsl(241, 100%, 89%);
    --white: hsl(0, 0%, 100%);

    --gray-blue: hsl(224, 30%, 27%);
    --transGreyBlue: hsla(224, 30%, 27%, 0.5);

    /* colors for the score section */
    --red: hsl(0, 100%, 67%);
    --transRed: hsl(0, 100%, 67%, 0.1);
    --yellow: hsl(39, 100%, 56%);
    --transYellow: hsla(39, 100%, 56%, 0.1);
    --green: hsl(166, 100%, 37%);
    --transGreen: hsla(166, 100%, 37%, 0.1);
    --blue: hsl(234, 85%, 45%);
    --transBlue: hsla(234, 85%, 45%, 0.1);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 18px;
    font-family: Hanken Grotesk, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0, 100%);
}

main{
    max-width: 55%;
    min-width: 600px;
    margin: 25% auto;
    display: flex;
    border-radius: 25px;
    box-shadow: hsl(221, 100%, 96%) 0px 8px 24px;;
}

@media (max-width: 600px) {
    main{
        box-sizing: border-box;
        max-width: 100%;
        min-width: 150px;
        margin: 0;
        flex-direction: column;
        box-shadow: 0 0 0 0;
        border: 0;
    }
}

section{
    padding: 2rem;
    width: 50%; 
}

@media (max-width: 600px) {
    section{
        width: 100%;
        margin: 0;
    }
}

/* __RESULT-SECTION__ */

#result{
    color: var(--transWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    border-radius: 25px;
    text-align: center;
    background-image: linear-gradient(var(--slate-blue),var(--royal-blue));
}

@media (max-width: 600px) {
    #result{
        border-radius: 0 0 25px 25px;
    }
}

.round{

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 75%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    background-image: linear-gradient(var(--violet-blue),var(--persian-blue));
}

.round p{
    color: var(--transWhite);
}
.round span{
    font-size: 3em;
    font-weight: 800;
    color: var(--white);
}

.box-foot{
    padding: 0.5rem;
}

.box-foot h3{
    color: var(--white);
    margin-bottom: 0.5em;
    font-size: 3rem;
}

@media (max-width: 600px) {
    .round{
        width: 30%;
        min-width: 150px;
        margin: 0;
    }

    .box-foot{
        max-width: 60%;
        /* border: 1px solid whitesmoke; */
    }
}

/* __SUMMARY-SECTION__ */

#summary{
    color: var(--gray-blue);
}

.scores{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.score{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 15px;
}


.score>p span{
    padding-left: 0.5rem;
}

.color-red{
    background-color: var(--transRed);
    color: var(--red);
}

.color-yellow{
    background-color: var(--transYellow);
    color: var(--yellow);
}

.color-green{
    background-color: var(--transGreen);
    color: var(--green);
}

.color-blue{
    background-color: var(--transBlue);
    color: var(--blue);
}

.score p:last-child{
    color: var(--gray-blue);
    font-weight: 700;
}

.score p:last-child span{
    color: var(--transGreyBlue);
}

.btn{
    position: relative;
    top: 1rem;
    width: 100%;
    margin: 15% 0;
    padding: 1.5rem 0;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: hsl(224, 30%, 27%) ;
    color: var(--white);
}

.btn:hover{
    background: linear-gradient(var(--slate-blue), var(--royal-blue));
}
